*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css */

span.hidden, img.hidden ,ul.hidden{
    display: none;
}

main{
    height: calc(100vh - 100px);
}

li{
    list-style: none;
}

li a{
    color: white;
    text-decoration: none;
}

li{
    margin: 5px;
}

hr{
    width: 90%;
    margin: auto;
    display: none;
}

.list_topbar{
    justify-content: center;
}

.upgrade{
    width: 100%;
    position: fixed;
    top:0   
}

.button{
    text-align: right;
    line-height: 80px;
}

.topbar{
    padding-top: 100px;
}

.card_container{
    margin: 10px;
}

.left_footer img{
    width: 43px;
}

a .action{
    color: black;
}

.bar_time{
    display: inline-block;
    background-color: grey;
    height: 5px;
    
    font-size: 0;
    border-radius: 2px;
}

.start{
    width: 130px;
    background-color: #B9B9B9;
}

.end{
    width: 40px;
    background-color: #505050;
}
/* debug */

.debug footer{
    background-color: rgb(26, 25, 25);
    height: 100px;
}

.debug .sidebar{
    background-color: brown;
    width: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.debug .content{
   background-color: darkgoldenrod;
   width: calc(100% - 50px);
   height: 100%;
}

.icon{
    color: white;
    
}

.icon i{
    color: white;
}

.user{
  
    margin: 10px;
}

.debug .upgrade{
    height: 80px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.5)    
}

.debug .button a{
    border: 1px solid white;
    text-align: right;
    border-radius: 25px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.debug .picture{   
    height: 150px;
    background-color: darkblue;
   
}

.debug .card_container{
    width: calc(50% - 20px);
}

.white_square{
    background-color: rgb(153, 52, 52);
    height: 40px;
    width: 25%;
}

/* utility⁄ */

.d_flex{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.space_between{
    justify-content: space-between;
}

.align_center{
    align-items: center;
}

.overflow{
    overflow-y: scroll;
}

.white_text{
    color: white;
}

/* media query */

@media screen and (min-width : 768px){
    
    img.visible{
        display: none;
    }
    
    span.hidden,img.hidden{
        display: inline;
    }
    
    ul.hidden{
        display: block;
    }

    hr{
        display: block;
    }

    .debug .sidebar{
        width: 200px;
    }

    .debug .content{
        width: calc(100% - 200px);
    }

    .debug .upgrade{
        width: calc(100% - 200px);   
    }
    
    .top_link{
        margin: 0 20px;
    }
}

@media screen and (min-width : 992px){
   
    .debug .card_container{
        width: calc(100% / 4 - 20px);
    }

}

@media screen and (min-width : 1200px){
    .debug .card_container{
        width: calc(100% / 6 - 20px);
    }
}