*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

span.hidden, img.hidden ,ul.hidden{
    display: none;
}

.top_list_icon,.list_playlist,.bot_list{
    padding-left: 15px;
}

main{
    height: calc(100vh - 85px);
}


.img_user{
    margin-left: 2px;
}

li{
    list-style: none;
    margin: 10px 0;
}

span.hidden {
    color: #999;
}

aside{
    font-size: 14px;
}

li a{
    color: white;
    text-decoration: none;
}

.plus_square{
    font-size: 40px;
}

.create_playlist{
    vertical-align: super;
}

.sidebar img{
    height: 20px;   
}

.user img{
    background-color: grey;
    border-radius: 50%;
    padding: 1px;
}

.list_topbar li a ,.artist, .minor_title{
    color: #686A6F;
}

.minor_title{
    margin: 0 10px;
}

.list_playlist li a,.create_playlist,.little_text{
    color: #999999;
}

ul.hidden.d_flex_column.overflow.list_playlist {
    padding-left: 18px;
}

.little_text,.user_little{
    text-align: super;
    padding-left: 4px;
}

.genre{
    margin: 5px 0 ;
}

h2{
    margin: 10px;
}

.artist{
    font-size: 12px;
}

hr{
    width: 85%;
    margin: auto;
    display: none;
    background-color: #999999;
    border: 0;
    height: 1px;
}

.list_topbar{
    justify-content: center;
    line-height: 30px;
}

.upgrade{
    width: 100%;
    position: fixed;
    top:0;  
}

.button{
    padding-right: 35px;
}

.topbar{
    padding-top: 100px;
}

.card_container{
    margin: 10px;
}

.card{
    text-align: center;
}

.left_footer img{
    width: 50px;
    padding-left: 10px;
}

.left_footer{
    color: #7A7A7A;
}

.play{
    font-size: 30px;
}

.bar_time.start {
    text-align: left;
}

.bar_time{
    display: inline-block;
    background-color: grey;
    height: 5px;    
    font-size: 0;
    border-radius: 2px;
}

.time_bar_small{
    width: 100%;
    align-self: flex-end;
    padding-bottom: 13px;
}

li.top_link {
    padding: 5px;
    font-size: 14px;
}

.right_icon{
    padding: 0 5px;
}

.start_time,.end_time{
    font-size: 12px;
}

.start{
    width: 70%;
    background-color: #505050;
}
.end{
    width: 20%; 
    background-color: #B9B9B9;
}

u{
    text-decoration: underline green 3px;
}

.end.small{
    width: 20%;
}

.card img{
    width: 100%;
}

.small_circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #B9B9B9;
    position: absolute;
    top: -3px;
    right: 0;
    display: none;   
}

.bar_time:hover .small_circle{
    display: block;
}

.bar_time:hover .end{
    background-color: green;
}

.card:hover .overlay{
    display: block;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.hidden_play{
    font-size: 60px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.card:hover .hidden_play{
    filter: none;
    color: white;
    z-index: 1;
}

.card:hover .hidden_play{
    display: block;
}

.action.play:hover{
    transform: scale(1.5);
}

.button:hover{
    transform: scale(1.2);   
}

.hover_effect:hover{
    color: white;
}

.underline:hover{
    text-decoration: underline;
}

footer{
    background-color: rgb(26, 25, 25);
    height: 85px;
    font-size: 12px;
}

.sidebar{
    background-color: black;
    width: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.content{
   background-color: #14181F;
   width: calc(100% - 50px);
   height: 100%;
}

.icon, .icon i{
    color: white;
    
}

.upgrade{
    height: 80px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.5)    
}

.button a{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.picture{   
    height: 150px;
    background-color: darkblue;   
}

.card_container{
    width: calc(50% - 20px);
}

.container_small{
    width: 40%;
}

.container_small_side{   
    width: 20%;
}

.top_list{
    min-height: 250px;
}

.bot_list{
    height: 100px;
}

/* utility⁄ */

.d_flex{
    display: flex;
}

.d_flex_column{
    display:flex;
    flex-direction: column;
}

.flex_wrap{
    flex-wrap: wrap;
}

.space_between{
    justify-content: space-between;
}

.align_center{
    align-items: center;
}

.flex_end{
    justify-content: flex-end;
}

.overflow{
    overflow-y: auto;
}

.overflow_hidden{
    overflow-y: hidden;
}

.white_text{
    color: white;
}

.text_center{
    text-align: center;
}

.rounded{
    object-fit: contain;
    border-radius: 50%;
}

.line_height_thirty{
    line-height: 30px;
}

.relative{
    position: relative;
}

.space_around{
    justify-content: space-around;
}

.pdg_five{
    padding-left: 10px;
}



/* media query */

@media screen and (min-width : 768px){
    
    img.visible{
        display: none;
    }
    
    .home_icon {
        border-left: 5px solid green;
    }

    .home{
        position: relative;
        right: 5px;
    }

    span.hidden,img.hidden{
        display: inline;
    }
    
    ul.hidden{
        display: block;
    }

    hr{
        display: block;
    }

    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }

    .upgrade{
        width: calc(100% - 200px);   
    }
    
    .top_link{
        margin: 0 20px;
    }
}

@media screen and (min-width : 992px){
   
    .card_container{
        width: calc(100% / 4 - 20px);
    }

}

@media screen and (min-width : 1200px){
    .card_container{
        width: calc(100% / 6 - 20px);
    }
}
