*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css */

body{
    font-family: sans-serif;
}

span.hidden, img.hidden ,ul.hidden{
    display: none;
}

/* aside.sidebar{
    padding-left: 15px;
} */

.top_list_icon,.list_playlist,.bot_list{
    padding-left: 15px;
}

.home_icon{
    border-left: 5px solid green;
}

main{
    height: calc(100vh - 85px);
}

li{
    list-style: none;
    margin: 5px 0;
}

li a{
    color: white;
    text-decoration: none;
}

.plus_square{
    font-size: 40px;
}

.create_playlist{
    vertical-align: super;
}

.sidebar img{
    height: 20px;
    /* margin-left: 10px; */
}

/* .img_user img{
    margin-left: 5px;
} */

.user img{
    background-color: grey;
    border-radius: 50%;
    padding: 1px;
}

.list_topbar li a ,.artist, .minor_title{
    color: #686A6F;
}

.minor_title{
    margin: 0 10px;
}

.list_playlist li a,.create_playlist,.little_text{
    color: #999999;
}

/* .list_playlist,.little_text,.user_little{
    margin-left: 10px;
} */

.genre{
    margin: 5px 0 ;
}

h2{
    margin: 10px;
}

.artist{
    font-size: 12px;
}

/* .name_playlist{
    margin: 10px;
} */

/* li{
    margin: 5px;
} */

hr{
    width: 85%;
    margin: auto;
    display: none;
    background-color: #999999;
    border: 0;
    height: 1px;
}

.list_topbar{
    justify-content: center;
    line-height: 30px;
}

.upgrade{
    width: 100%;
    position: fixed;
    top:0   
}

.button{
    text-align: right;
    line-height: 80px;
    padding-right: 15px;
}

.topbar{
    padding-top: 100px;
}

.card_container{
    margin: 10px;
}

.card{
    text-align: center;
}

.left_footer img{
    width: 50px;
}

.left_footer{
    color: #7A7A7A;
}

.play{
    font-size: 30px;
}

/* prova */

/* .right_footer{
    max-width: 230px;
} */

/* prova */

/* a .action{
    color: black;
} */

.bar_time.start {
    text-align: left;
}

.bar_time{
    display: inline-block;
    background-color: grey;
    height: 5px;    
    font-size: 0;
    border-radius: 2px;
}

.time_bar_small{
    width: 100%;
    align-self: flex-end;
    padding-bottom: 8px;
}

li.top_link {
    padding: 5px;
    font-size: 14px;
}

.right_icon{
    padding: 0 5px;
}

.save{
    line-height: 50px;
}

/* .start{
    width: 130px;
    background-color: #B9B9B9;
}

.end{
    width: 40px;
    background-color: #505050;
}

.start.small{
    width: 106px;  
}

.end.small{
    width: 20px;
} */

.start_time,.end_time{
    font-size: 12px;
}

.start{
    width: 70%;
    background-color: #B9B9B9;
}

.end{
    width: 20%;
    background-color: #505050;
}

/* .start.small{
    width: 120px;  
} */

.end.small{
    width: 20%;
}

.card img{
    width: 100%;
}

.small_circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #B9B9B9;
    position: absolute;
    top: -3px;
    right: 0;
    display: none;
    
}

.bar_time:hover .small_circle{
    display: block;
}

.bar_time:hover .end{
    background-color: green;
}

.card:hover .overlay{
    display: block;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

}

.hidden_play{
    font-size: 60px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.card:hover .hidden_play{
    display: block;
}

/* debug */



footer{
    background-color: rgb(26, 25, 25);
    height: 85px;
}

.sidebar{
    background-color: black;
    width: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.content{
   background-color: #14181F;
   width: calc(100% - 50px);
   height: 100%;
}

.icon{
    color: white;
    
}

.icon i{
    color: white;
}

/* .user{
  
    margin: 10px 8px;
} */

.upgrade{
    height: 80px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.5)    
}

.button a{
    border: 1px solid white;
    text-align: right;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.picture{   
    height: 150px;
    background-color: darkblue;
   
}

.card_container{
    width: calc(50% - 20px);
}

.container_small{
    background-color: rgb(153, 52, 52);
    width: 40%;
}

.container_small_side{
    background-color: rgb(153, 52, 52);
    width: 20%;
}


.top_list{
    min-height: 360px;
}

.bot_list{
    height: 100px;
}

/* utility⁄ */

.d_flex{
    display: flex;
}

.d_flex_column{
    display:flex;
    flex-direction: column;
}

.flex_wrap{
    flex-wrap: wrap;
}

.space_between{
    justify-content: space-between;
}

.align_center{
    align-items: center;
}

.overflow{
    overflow-y: scroll;
}

.overflow_hidden{
    overflow-y: hidden;
}

.white_text{
    color: white;
}

.text_center{
    text-align: center;
}

.rounded{
    object-fit: contain;
    border-radius: 50%;
}

.line_height_thirty{
    line-height: 30px;
}

.relative{
    position: relative;
}

.space_around{
    justify-content: space-around;
}

/* media query */

@media screen and (min-width : 768px){
    
    img.visible{
        display: none;
    }
    
    span.hidden,img.hidden{
        display: inline;
    }
    
    ul.hidden{
        display: block;
    }

    hr{
        display: block;
    }

    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }

    .upgrade{
        width: calc(100% - 200px);   
    }
    
    .top_link{
        margin: 0 20px;
    }
}

@media screen and (min-width : 992px){
   
    .card_container{
        width: calc(100% / 4 - 20px);
    }

}

@media screen and (min-width : 1200px){
    .card_container{
        width: calc(100% / 6 - 20px);
    }
}



/* cose utili */


/* <i class="fa-solid fa-house"></i> */
/* <i class="fa-solid fa-magnifying-glass"></i> */
/* <i class="fa-solid fa-book"></i> */
/* <i class="fa-regular fa-circle-down"></i> */
/* <i class="fa-solid fa-circle-user"></i> */